body{
    background-image: url("astro.jpg");
    color: white;
    font-size: 30px;
    font-family: "arial black";
    text-align:center;
background-repeat: no-repeat;
background-size: cover;
}

h1 {

    border-radius: 50px 15px;
    border: 10px double black;
    background-color: white;
    color: black;
}



